select {
  box-shadow: 0 1px 2px 0 #e0e0e4;
}

nav {
  box-shadow: 0 0 1px 0 rgba(0, 0, 30, 0.1), 0 1px 2px 0 rgba(0, 0, 30, 0.1), 0 4px 7px 1px rgba(0, 0, 30, 0.05);
  padding: 10px 40px;
}

input {
  min-width: 200px;
}

.my-container {
  padding: 20px 40px;
}

.my-push-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.my-transition {
  transition: all ease 0.2s;
}

.my-pre-paper {
  /*transition: all ease 0.2s;*/
  border: 1px solid transparent;
  border-radius: 8px;
  padding-bottom: 24px;
}

.my-paper {
  border: 1px solid #dbdbdb;
  padding: 12px 12px 24px;
}

.my-flex {
  display: flex;
}

.button.select {
  min-width: 200px;
  margin-right: 12px;
  text-align: left;
}

.my-mar-t--4 {
  margin-top: 4px;
}

.my-action {
  display: flex;
  margin-bottom: 12px;
  margin-left: 12px;
  align-items: center;
}

.my-multi-action {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #666678;
  padding-top: 24px;
  padding-bottom: 16px;
}

.my-action-name {
  min-width: 160px;
}

.my-error-log-container {
  height: 267px;
  overflow: scroll;
}

.card{
  padding: 12px 16px;
}
.card-content{
  padding: 0;
}
.my-ratio{
  display: flex;
}
.my-ratio > div {
  margin: 12px;
}
.my-ratio-card{
  width: 300px;
}
.my-flex--one{
  flex: 1;
}
.rs-logs{
  padding: 8px;
  margin: 4px;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 30, 0.1),
  0 1px 2px 0 rgba(0, 0, 30, 0.1),
  0 2px 4px 0 rgba(0, 0, 30, 0.1);
}
.my-tiny-text{
  font-size: 10px !important;
}
.my-monthly{
  width: calc(100% - 24px);
  margin: 13px;
}
.rs-logs--full{
  margin: 8px 16px;
}
